{{ define "frontmenu" }}
{{ partial "icons.html" }}
{{ end }}

{{ define "main" }}
<div class="ui centered grid">
  <div class="{{ .Site.Params.headerGrid }}">
    {{ partial "header.html" (dict "context" . "enablemap" true) }}
  </div>
  <div class="{{ .Site.Params.contentGrid }}">
    <section class="ui secondary top attached black segment">
      {{ .Content }}
    </section>
  </div>
</div>
{{ end }}
