{{ define "frontmenu" }}
{{ partial "icons.html" }}
{{ end }}

{{ define "main" }}
<div class="ui centered grid">
  <div class="{{ .Site.Params.headerGrid }}">

    {{ partial "header.html" (dict "context" . "enablemap" false) }}

  </div>
  <div class="{{ .Site.Params.contentGrid }}">

    <section class="ui secondary top attached black segment">
      <header>
        <h1 class="ui header">
          {{ .Title }}
          <div class="sub header">@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Params.Place }} · {{ .Date.Format "02/01/2006" }} </div>
        </h1>
      </header>
      {{ $day := (findRE "[0-9]+" .Title 1) }}
      {{ if .Params.Map }}
      <!-- <div class="ui two column stackable grid container"> -->
      <!-- <div class="twelve wide column"> -->
      <section class="post-map">
	  <br>
	  {{ partial "map" (dict "context" . "track" $day)}}
      </section>
      {{ end }}

      <article class="post-content" style="margin-top: 2rem; font-size: 1.4rem;">{{ .Content }}</article>
    </section>


    <footer class="ui secondary attached segment">
	<center>
	    {{ $picDir := (printf "%s%s" "day" (index $day 0)) }}
	    {{ $cover := .Params.cover }}
	    {{ range where .Site.Data.gallery.entries "path" $picDir }}
	    <div id={{ (printf "%s%s" (relURL "/media/gallery/day") (index $day 0)) }} class="ui fluid card" style="width:40vh;">
		<div class="image">
			<img src="{{ "/covers" | relURL }}/{{ $cover }}">
		</div>
		<div class="content">
		    <div class="header">Les photos du jour</div>
		</div>
		<div class="extra content">
		    <span>
			<i class="photo icon"></i>
			{{ $photoCount := (len (readDir (printf "%s%s" "/static/media/photos/day" (index $day 0)))) }}
			{{ $photoCount }}
			{{ if eq $photoCount 1 }}
			photo
			{{ else }}
			photos
			{{ end }}
		    </span>
		</div>
	    </div>
	    {{ end }}
	</center>
    </footer>

    <footer class="ui secondary attached segment dream-tags">
      {{ if isset .Params "tags" }}
      {{ range $tag := .Params.tags }}
      <a class="ui label" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">{{ $tag }}</a>
      {{ end }}
      {{ else }}
      <span>{{ i18n "noTag" }}</span>
      {{ end }}

      <center>
      {{ if .Page.PrevInSection }}
      <a href="{{ .Page.PrevInSection.URL }}">
	  <i class="huge arrow circle outline left icon" title="Précédent"></i>
      </a>
      {{ end }}


      {{ if .Page.NextInSection }}
      <a href="{{ .Page.NextInSection.URL }}">
	  <i class="huge arrow circle outline right icon" title="Suivant"></i>
      </a>
      {{ end }}
      </center>
    </footer>

    <footer class="ui secondary attached segment">
	<section class="disqus-partial">
	    {{ partial "disqus.html" . }}
	</section>
    </footer>
  </div>
</div>
{{ end }}

